html * {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: whitesmoke;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin: 10%;
}

.image-container img {
  flex: 1 1 auto;
  min-width: 150px;
  max-width: 350px;
}