html * {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: whitesmoke;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 150px;
}

#rock,
#paper {
  width: 200px;
  height: auto;
}

#scissors {
  width: 125px;
  height: auto;
}
